<%- include("../partials/header") %>



    <div class = "row">
        
        <div style = "width: 30%; margin: 30px auto;">
            <h1 style = "text-align: center">Edit <%=workout.name%></h1>
            <form action="/workouts/<%=workout._id%>/?_method=PUT" method = "POST" enctype="multipart/form-data">
                <div class = "form-group">
                    <input class = "form-control" type="text" value = "<%=workout.name%>" name = "workout[name]">
                </div>
                <div class = "form-group">
                    <select class = "form-control" name="workout[typeOfWorkout]" value = "<%=workout.typeOfWorkout%>">
                        <option value="SWIMMING">Swimming</option>
                        <option value="WEIGHTS">Weights</option>
                    </select>
                </div>
                <!--<div class = "form-group">
                    <label for="image">Workout</label>
                    <input class = "form-control" id = "image" type="file" accept = "image/*" name = "image">
                </div>-->
                <div class = "form-group">
                    <label for="description">Description</label>
                    <textarea class = "form-control" name="workout[description]" id="description" cols="30" rows="5"><%=workout.description%></textarea>
    
                </div>
                <div class = "form-group">
                    <button class = "btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
                
            </form>
        </div>
    </div>
    <div class = "row text-align-center">

        <a href="/workouts/<%=workout._id%>">Go back</a>
    </div>
    

<%- include("../partials/footer") %>